
.Cards-show{
  margin:20px 20px 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr)) ;
  grid-gap: 70px; 
  width: 90vw;
}


.cards-list{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 25px;
  border-radius: 5px;
  margin: 20px 20px 20px;
  background-color: #95dada;
  border: 1px solid grey;
  backface-visibility: hidden;
  cursor: pointer;
  width: 200px;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}
.cards-list:hover{
  transform: scale(1.05);
}
.Header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px 20px 20px;
  background-color: whitesmoke;
}
.Header input{
  height: 30px;
  text-align: center;
  width: 300px;
  border-radius: 30px;
}