.whole{

  background-color:teal;

}
.Cards-show{
  margin:20px 20px 20px;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns:repeat(auto-fit,minmax(220px,1fr)) ;
  grid-gap: 70px; 
  width: 90vw;
}



.Header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  padding: 20px 20px 20px;
  background-color: whitesmoke;
}
.Header input{
  height: 30px;
  text-align: center;
  width: 300px;
  border-radius: 30px;
  cursor: pointer;
}