
.cards-list{
     padding: 25px;
    border-radius: 5px;
    margin: 20px 20px 20px;
    background-color: #95dada;
    border: 1px solid grey;
    backface-visibility: hidden;
    cursor: pointer;
    width: 200px;
    transform: translateZ(0);
    transition: transform 0.25s ease-out;
}
.cards-list:hover{
    transform: scale(1.05);
  }
.cards-list h1{
    font-size: 20px;
}
.cardsss{ 
     display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr)) ;
    grid-gap: 70px; 
}